html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

H1.center {
	text-align: center
}
#heaer {
	background-color:#222222;
}
#header_1 {
	padding: 5px;
	text-align: left;
	float:left;
	width:100px;
}
#header_2 {
	padding: 5px;
	text-align: left;
}